<!DOCTYPE html>
<html>
   <head>
      <title>ABOUT</title>
      <meta charset="utf-8">
      <meta name="description" content="Traveling HTML5 Template" />
      <meta name="author" content="Design Hooks" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      <link href="../static/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
      <link href="../static/css/screen.css" rel="stylesheet" />
   </head>
   <body class="home" id="page">
      <!-- Header -->
      <header class="main-header">
         <div class="container">
            <div class="header-content">
               <a href="index.html">
                  <img src="../static/img/mainlogo.png" alt="site identity" width="10%" height="1python0%"/>
               </a>

               <nav class="site-nav">
                  <ul class="clean-list site-links">
                     <li>
                        <a href="#">About</a>
                     </li>
                     <!--li>
                        <a href="#">Add your boat</a>
                     </li-->
                  </ul>

               </nav>
            </div>

         </div>
      </header>

      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box" style="padding-top: 150px;">
               <div class="container">
                  <div class="hero-text align-center">
                      <h1>We Are Challenger!</h1>
                     <p>2020년 디지털 미디어 시티에서 그들이 뭉쳤다!<br>
                        색을 찾아 떠나는 천방지축 대모험<br>
                        Over the Rainbow</p>
                  </div>
               </div>
            </div>

         </section>

      </div>

      <!-- Scripts -->
      <script src="../static/js/jquery.js"></script>
      <script src="../static/js/functions.js"></script>
   </body>
</html>
