<!DOCTYPE html>
<html>
   <head>
      <title>Nava</title>
      <meta charset="utf-8">
      <meta name="description" content="Traveling HTML5 Template" />
      <meta name="author" content="Design Hooks" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      <link href="../static/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
      <link href="../static/css/screen.css" rel="stylesheet" />
   </head>
   <body class="home" id="page">
      <!-- Header -->
      <header class="main-header">
         <div class="container">
            <div class="header-content">
               <a href="index.html">
                  <img src="../static/img/site-identity.png" alt="site identity" />
               </a>

               <nav class="site-nav">
                  <ul class="clean-list site-links">
                     <li>
                        <a href="#">Top Destinations</a>
                     </li>
                     <li>
                        <a href="#">Add your boat</a>
                     </li>
                  </ul>

               </nav>
            </div>

         </div>
      </header>

      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box" style="padding-top: 150px;">
               <div class="container">
                  <div class="hero-text align-center">
                        <img src="../static/img/mainlogo.png" alt="site identity" width="60%" height="50%"/>
                     <p>Color detection for the color blindness!</p>
                  </div>

                  <form class="destinations-form">
                     <div class="input-line">
                        <input type="file" id="input-file-now" class="file-upload" />
                        <input type="text" name="destination" value="" class="form-input check-value" placeholder="WHAT IS YOUR DESTINATION, SAILOR?" />
                        <button type="button" name="destination-submit" class="form-submit btn btn-special">Find a boat</button>
                     </div>
                  </form>
               </div>
            </div>

         </section>

      </div>

      <!-- Scripts -->
      <script src="../static/js/jquery.js"></script>
      <script src="../static/js/functions.js"></script>
   </body>
</html>
